/* Main body & container */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #fff;
}

.container {
  max-width: 600px;
  margin: auto;
}

/* Input Row */
.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.inputclass {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #999;
  border-radius: 3px;
}

/* Add Button */
.addButton {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.addButton:hover {
  background-color: darkgreen;
}

/* Todo Item Row */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 394px;
}

/* Text part */
.todo-left {
  font-size: 16px;
  color: #333;
}

/* Delete Button */
.deleteButton {
  background-color: maroon;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px
}

.deleteButton:hover {
  background-color: darkred;
}
